node_modules/
npm-debug.log*
.env
*.sqlite
*.db
*.pem

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
.terraform.tfstate.lock.info